body {
  overflow-y: scroll;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}

button {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.app-brand.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.app-brand {
  background-color: #fff;
  padding-left: 15px;
}

.btn-primary {
  background-color: #4dace1;
  color: #fff;
}

.ma-checkbox-content {
  border-left: 1px solid #ececec;
  padding-left: 10px;
}

.ma-avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.ma-file-image {
  height: 40px;
}

.ma-file-image img {
  width: 100%;
  height: 100%;
}

.mobile-nav .nav-link span {
  font-size: 1rem;
  font-weight: 400;
}

.mobile-nav .nav-link {
  display: flex;
  padding: 0.5rem 0 !important;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  align-items: center;
}

.nav-item .active span {
  color: #4dace1 !important;
}

.nav-item .active svg path {
  stroke: #4dace1;
}

.nav-link:hover,
.nav-link:focus,
a:hover {
  color: #4dace1;
}

.user-profile-header-banner img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.light-style .user-profile-header .user-profile-img {
  border-color: #fff;
}

.user-profile-header .user-profile-img {
  border: 5px solid white;
  width: 120px;
  height: 120px;
}

.wr-login-wrp {
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 1000px;
}

.wu-text-chat {
  height: 1.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.chat-message-right {
  display: flex;
  justify-content: flex-end;
}

.chat-message-right .chat-message-text {
  background-color: #4dace1 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.375rem !important;
  color: white;
}

.chat-message-text {
  box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
  background-color: white !important;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  color: black;
  border-top-left-radius: 0;
}

/* The checkbox container */
.wu-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 25px;
}

/* Hide the browser's default checkbox */
.wu-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 0.375rem;
}

/* On mouse-over, add a grey background color */
/* .wu-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
} */

.wu-checkbox-container .checkmark {
  background-color: #c4c4c4;
}

/* When the checkbox is checked, add a blue background */
.wu-checkbox-container input:checked ~ .checkmark {
  background-color: #4dace1;
}

.wu-checkbox-container input:checked ~ .checkmark.dissmissed {
  background-color: #ffab00;
}

.wu-checkbox-container input:checked ~ .checkmark.rejected {
  background-color: #ff3e1d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wu-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wu-checkbox-container .checkmark:after {
  left: 9px;
  top: 7px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav {
  background: #fff;
  border-top: 1px solid #c4c4c4;
  position: fixed;
  width: 100%;
  z-index: 1040;
  bottom: 0;
}

.mobile-nav .nav {
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mobile-nav .nav-link {
  color: #566a7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0.75rem;
  position: relative;
  font-size: 1.5rem;
}

.mobile-nav .nav-link img {
  height: 24px;
  margin-bottom: 0.5rem;
}

.mobile-nav .nav-link span.menu-title {
  font-size: 0.75rem;
  font-weight: 500;
}

.mobile-nav .nav-link .badge-cart {
  top: 0.7rem;
  right: 1.3rem;
}

.authentication-wrapper.authentication-basic .authentication-inner {
  max-width: 400px;
  position: relative;
}

.authentication-wrapper .authentication-inner {
  width: 100%;
}

.authentication-wrapper.authentication-basic {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
}

.wu-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.wu-tab-nav {
  background-color: #ececec;
  padding: 10px 0;
  border: none;
}

.wu-tab-btn {
  color: #979797;
  font-weight: 600;
}

.wu-tab-btn.active {
  color: #4dace1;
}

.wu-extra-badge {
  background-color: #ececec;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wu-small-ic {
  display: flex;
  align-items: center;
}

.wu-small-ic svg {
  width: 15px;
  height: 15px;
}

.wu-user-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.ma-add-btn {
  position: absolute;
  right: 20px;
  bottom: 80px;
}

.ma-add-btn-container {
  position: absolute;
  bottom: 0;
  max-width: 1000px;
  width: 100%;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}
